@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

*:not(i) {
    font-family: "Open Sans", sans-serif !important;;
}

.fw-medium {
    font-weight: 500 !important;
}
.fw-semibold {
    font-weight: 600 !important;
}
.fw-extrabold {
    font-weight: 800 !important;
}
.text-cursive {
    font-family: "Sacramento", cursive !important;
}
html {
    scroll-padding-top: 58px;
}
body {
    padding-top: 58px;
}
section {
    padding-top: 58px;
    padding-bottom: 58px;
}

.navbar-brand {
    border: solid var(--accent-4) 3px;
    padding-right: 0.65em;
    padding-left: 0.65em;
}

#Home {
    /* background-image: url("img/home-background.jpeg"); */
    background-color: rgb(143, 145, 147);
    background-size: cover;
    background-position: center bottom;
    height: 70vh;
    min-height: 400px;
}
#Home .btn {
    border: solid 2px transparent;
}
#Home .btn:hover {
    background-color: transparent !important;
    border: solid 2px var(--accent-4);
    color: var(--accent-4) !important;
}

.skills-circle {
    width: 15px; 
    height: 15px; 
    border-radius: 100%;
    display: inline-block;
}
#Bachelor_data {
  height: 1000px;
}
#Boltzmann_work {
  height: 1000px;
}
.card {
    height: 100%;
    width: auto;
    outline: none;
    cursor: pointer; /* Add cursor pointer to indicate that the card is clickable */
  }

  .card__front,
  .card__back {
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out; /* Add transition for smooth flip effect */
  }

  .card__back {
    transform: rotateY(180deg);
  }

  /* Add shadow effect to the cards */
  .card__front {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .is-flipped .card__front {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .card__back {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .is-flipped .card__back {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .is-flipped .card__front {
  transform: rotateY(180deg);
}

.is-flipped .card__back {
  transform: rotateY(0deg);
}

@media only screen and (max-width: 768px) {
    .card {
      height: 500px; /* set the card width to 100% for smaller screens */
      border: none;
      
    }
    #Bachelor_data {
      height: 600px;
    }
    #Boltzmann_work{
      height: 600px;
    }
    .card__front,
  .card__back {
    height: 500px;
  }
  }